.FundoPreto {
    background-color: black;
}

header {
    display: flex;
    background-color: black;
    width: 76vw;
    justify-self: center;
    height: 10vh;
}

#LogoDoSite {
    display: flex;
    width: 40%;
    height: 100%;
    align-items: center;
    color: white;
}

#LogoDoSite h1 {
    cursor: pointer;
}

#BarradePesquisa {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

#BarradePesquisa input {
    height: 35%;
    border: none;
    width: 90%;
    outline: none;
    border-radius: 0.5vh;
    padding: 1%;
}

#Interativos {
    display: flex;
    justify-content: end;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 2vh;
}

#IconesInterativos {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    gap: 2vh;
}

a {
    color: white;
    cursor: pointer;
}

a:hover {
    color: rgba(255, 255, 255, 0.87);
    transition: all 0.5s;
}

svg {
    color: white;
    cursor: pointer;
}

.CentralizadorDoBreadCrump {
    background-color: gray;
    .BreadCrump {
        display: flex;
        width: 76vw;
        height: 2vh;
        justify-self: center;
        align-items: center;
        color: white;
        font-size: 1.5vh;
    }
}